*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* header section */

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto;
    margin-top: 16px;
}

.logo{
    align-items: center;

}

#navbar ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

#navbar ul li a{
    font-size: 16px;
    line-height: 152%;
    color: #000000;
    text-decoration: none;
}

#navbar .btn{
    border: none;
    border-radius: 4px;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px;
    cursor: pointer;
    transform:background-color 0.3s ease, color 0.3s ease;
}

#hero{
    background-image: url("./images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    max-width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:115px 120px 180px;
    max-width: 1360px;
}

.hero-text{
    display: flex;
    background-color: white;
    border-radius: 1000px;
    gap: 6px;
    padding: 8px 12px;
    margin-bottom: 16px;
}

.hero-text span{
    font-size: 16px;
    font-weight: 600;
    color: #469165;
}

.hero-heading{
    text-align: center;
    margin: 0 auto;
}


.hero-heading h1{
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.hero-heading h1 span{
    color: #469165;
}

.hero-heading p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.hero-button{
    display: flex;
    gap: 16px;
}

.hero-btn-1{
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #469165;
    padding: 16px;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease,color 0.3s ease;
}

.hero-btn-1:hover,
.hero-btn-2:hover,
#navbar .btn:hover{
  background-color: #000000;
  color: #469165;
  border: 1px solid #469165;
}

.hero-btn-2{
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: transparent;
    padding: 16px;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease,color 0.3s ease;
}

.note-heading{
    margin-top: 36px;
}

.note-heading h2{
    font-size: 48px;
    color: #001931;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.note-heading p{
    font-size: 16px;
    font-weight: 20px;
    color: #627382;
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
}

.note-card{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.card-info{
    max-width: 322px;
    padding: 69.5px 24px;
    text-align: center;
    box-shadow: 0 0 8px 0 #0000004f;
}

.card-info img{
    background-color: #F95555;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    padding: 14px;
    margin-bottom: 16px;
}

.card-info h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;

}

.card-info p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    max-width: 205px;
}