*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* header section */

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto;
    margin-top: 16px;
}

.logo{
    align-items: center;

}

#navbar ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

#navbar ul li a{
    font-size: 16px;
    line-height: 152%;
    color: #000000;
    text-decoration: none;
}

#navbar .btn{
    border: none;
    border-radius: 4px;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px;
}


